[2017-05-18 08:48] OPADA-Eng opened #1 "Can't use "this" inside onSelect event action"
Hi Moayad,
I'm using your brilliant plugin and it's very helpful, but when I use onSelect event I can't reach to the view model of the context, My code bellow:

                                             class="p-15"
                                             visibility="{{ customer_type   == 1 ? 'visible' : 'collapsed' }}"
                                             items="{{ customer_areas

[2017-05-18 13:52] moayadnajd commented on #1
hi @OPADA-Eng
you can use self in second param  temporary until i found something better

public onSelect(selectedArray,slef) {
    console.log('selected array is => ' + JSON.stringify(selectedArray));
    console.log('selected array is => ' + JSON.stringify(slef.selected));
  }

[2017-05-18 13:52] #1 closed

[2017-05-26 11:53] moayadnajd opened #2 "Clear tags oe selected items"
How can we remove selected items and add onClear function

[2017-05-26 13:12] CodeObia opened #3 "template inside the xml"
can we have the template inside the xml element ?

[2017-05-26 13:16] moayadnajd commented on #3
yes i have problem with that

https://discourse.nativescript.org/t/making-nativescript-plugin-i-need-some-advice/1300

[2017-05-26 15:28] moayadnajd commented on #2
remove selected items now working on clear

[2017-06-25 11:26] crazycoder775 opened #4 "Angular Version"
Hi,

the plugin looks fine but how can I run it with the Angular version of Nativescript ?

The XML tags at the top of page are not supported with Angular version.

[2017-07-25 11:53] #2 closed

[2017-07-25 20:04] moayadnajd commented on #4
@crazycoder775  iam sorry for the late response i was too busy i think you can do something like
this but i did not try it i use typescript in development when i have time i will gave it a try and get back to you please if you try let me know

[code]

[code]

[2017-07-25 20:19] moayadnajd opened #5 "replace the item_template with xml template"
i need help with doing something like this  to remove the item_template parameter it much easier

[code]

[2017-07-25 20:26] moayadnajd commented on #3
#5

[2017-08-09 04:33] dyazincahya commented on #1
How to send data from variable "selectedArray" in "model" to "controller" ?

[2017-08-09 04:37] dyazincahya opened #7 "How to send data variable selectedArray in model to controller ?"
I have this code in model
`public onSelect(selectedArray,slef) {
console.log('selected array is => ' + JSON.stringify(selectedArray));
console.log('selected array is => ' + JSON.stringify(slef.selected));
}`

my problem is How to send data variable `selectedArray` in **model** to **controller** ?

[2017-08-11 12:23] moayadnajd commented on #7
@dyazincahya can you provide more information or share a sample repo with me so i can help

[2017-08-12 23:24] moayadnajd commented on #7
@dyazincahya  i just added angular support please see the demo and feel free to open new issue

[2017-08-12 23:24] #7 closed

[2017-08-12 23:25] moayadnajd commented on #4
@crazycoder775 i just added angular support you van see demo-ng folder feel free to open new issue

[2017-08-12 23:25] #4 closed

[2017-08-13 19:16] moayadnajd commented on #1
@dyazincahya can you open new issue with repo example so we can help you

[2017-08-13 19:17] moayadnajd commented on #1
@OPADA-Eng  now the change event is there no need to this method please see demo for more information

[2017-08-21 06:45] OPADA-Eng opened #9 "Add support for disable editing"
It will be very useful feature because some times you don't want to allow user to edit the value.
Thanks

[2017-09-05 11:06] OPADA-Eng opened #10 "There are no arrow for the select"
Can you please include a down arrow for the select like the native one.
Thanks

[2017-09-05 11:07] OPADA-Eng opened #11 "selected item should be in different color from the hint"
Can you please set the color of the selected element different than the hint color.
Thanks

[2017-09-05 11:12] OPADA-Eng opened #12 "add clear button"
Can you please add support for clear button in case the select is not mandatory field.

[2017-09-14 10:01] OPADA-Eng opened #13 "selected is not working with single select"
Can you check this out for me ?

[2017-09-15 12:05] #9 closed

[2017-09-17 09:02] #10 closed

[2017-09-17 09:02] #11 closed

[2017-09-17 09:02] #12 closed

[2017-09-17 09:02] #13 closed

[2017-09-21 02:16] leocrawf opened #14 "Do you have an example using pure javascript?"
Do you have an example using pure javascript

[2017-09-23 04:51] leocrawf opened #15 "Does this plugin work with web pack?"
Does this plugin work with web pack?

[2017-09-23 06:16] leocrawf opened #16 "Is possible to use a font awesome icon as the select trigger?"
Is possible to use a font awesome icon as the select trigger?

[2017-09-23 10:20] moayadnajd commented on #15
@leocrawf iam not familiar with web pack can you provide an example of plugin use web pack or gave me more details so I can help you with this

[2017-09-23 10:21] moayadnajd commented on #16
@leocrawf thank you for this idea i will work on it and get back to you with update thanks

[2017-09-23 10:23] moayadnajd commented on #14
@leocrawf no but you can see the typescript compiled files and it will be nice if you contrpute with this example

[2017-09-25 08:33] moayadnajd commented on #16
@leocrawf  you can do like this now  hint="{{'fa-list-ul' | fonticon}}"

[2017-09-25 08:33] #16 closed

[2017-09-25 08:33] #14 closed

[2017-09-25 08:46] leocrawf commented on #16
Nice. Thank you.

[2017-09-26 07:33] OPADA-Eng opened #17 "Clear button in the single select is not reflecting the hint text"
Hi,
When I select an item and press clear, the hint text should appear instead of old selection.
Thanks

[2017-09-27 08:13] #15 closed

[2017-10-09 05:39] xliank opened #18 "Doesn't run properly using nativescript-webpack"
When i'm using default command "tns run android", it work nice. but when i'm switch to nativescript-webpack command, it won't work:

1. I'm using nativescript template "tns-template-hello-world-ng"
2. I'm also using"nativescript-webpack" with command "npm run start-android-bundle"
3. When i'm click on "select" button, it show error

`
System.err: com.tns.NativeScriptException:
System.err: Calling

[2017-10-09 11:22] moayadnajd commented on #18
@xliank thank you for your help i actually not test it with web pack can you provide demo repo so u can test on it and fix this for you

[2017-10-09 13:29] xliank commented on #18
@moayadnajd sure, here it is https://github.com/xliank/NSFilterWebpack
command "npm run start-android-bundle" and "tns run android"

[2017-10-09 14:38] #17 closed

[2017-11-23 02:20] xliank commented on #18
@moayadnajd  I found on other project that you need to exclude in uglify mangle
example https://github.com/PeterStaev/NativeScript-Drop-Down/blob/master/uglify-mangle-excludes.ts
But i don't really understand what the arrays mean for.
somebody please?

[2017-11-24 18:46] jogboms commented on #5
@moayadnajd see [here](https://github.com/manijak/nativescript-carousel)

[2017-12-02 09:25] nikunjgajera opened #20 "Multi select item generate design issues"
I am create native android application using nativescript. I have required multi items from dropdown so i found this plugin but when i using this plugin and select multiple items from list so i got design issues.

page.html
[code]

page.component.ts
[code]

When page load at a time no any item selected. see below screen
![selection_005](https://user-images.githubusercontent.com/12508078/33513921-7

[2017-12-05 12:37] moayadnajd commented on #20
@nikunjgajera hey thanks for mention this can you share with me your repo or attach code example so we can work together on this

[2017-12-06 09:05] moayadnajd commented on #20
@nikunjgajera and also did you include the css files !!??

[2017-12-06 10:56] nikunjgajera commented on #20
@moayadnajd i included css file but still getting design issues.

[2017-12-08 11:35] VChabrette opened #21 "Changing labels"
Hi !

Firstly, thanks for your awesome plugin, it really works like a charm !

However, I have some concerns about the "Select", "Close" and "Clear" labels.
As I'm working for a French company, I have to translate thoses labels, but I can't see any way I could do it without modifying the plugin and removing the harcoded strings.

Do you have any idea if I could do this without modifying the plugin

[2017-12-08 14:42] nikunjgajera commented on #20
Please check this source code,
You need to add platform by `tns platform add android`
then run `tns run android`
and see design issue and how to solve this design issue.
[Demo.zip](https://github.com/moayadnajd/nativescript-filter-select/files/1542925/Demo.zip)

[2017-12-09 16:33] moayadnajd commented on #20
@nikunjgajera the css was not imported good and i don't have android emulator so i made some changes and run it in iOS seems everything fine so  please let me know

[Demo-edited.zip](https://github.com/moayadnajd/nativescript-filter-select/files/1544823/Demo-edited.zip)

[2017-12-09 16:33] #20 closed

[2017-12-09 17:08] moayadnajd commented on #21
Hey @VChabrette actually its good idea i made this please update to v 1.2.1
you can do like below i translate it to Arabic so you can do French 💃  let me know if you need anything  and don't forget to start the plugin ⭐️

`  <FS:FilterSelect  items="{{ countries }}" closeText="إغلاق" searchHint="بحث" doneText="تم" clearText="مسح" selectText="إختر" hint="اختر الدوله" modal_title="الدول" search_para

[2017-12-09 17:09] #21 closed

[2017-12-11 11:55] VChabrette commented on #21
Hi @moayadnajd ! Thanks for the update, it's working like a charm !
Thanks a lot for you reactiveness too :smiley: I'm starring your project with great pleasure :wink:

However, something I didn't mention in the first place is the fact that the "Clear"/"Close" labels wrap and give a weird look to the interface ([screenshot](https://user-images.githubusercontent.com/3647132/33829835-1c944f3e-de72-1

[2017-12-11 14:42] relvis opened #22 "Open Select filter using Typescript/Javascript?"
Hi there, this is a very useful plugin and I am considering using. However, I would like to customize some behavior for example, is there any way to open the widget using TypeScript/Javascript? Something like:

`(<FilterSelect>this.selectLocation.nativeElement).open()` ?

Thanks!

[2017-12-12 05:11] anuragd7 commented on #18
Hi
The plugin seems great, however I wanted to check if it works with webpack as I need to use webpack in my project. Is this issue sorted out?
Thanks

[2017-12-12 10:10] moayadnajd commented on #21
@VChabrette thank man and yes please open new issue because this is critical

[2017-12-12 10:11] moayadnajd commented on #22
@relvis it will  be nice idea i will make  this soon

[2017-12-12 10:13] moayadnajd commented on #18
@anuragd7 the problem is i don't have experience in webpack so i have hard time to debug  but i will try to fix this soon

[2017-12-12 10:18] VChabrette opened #23 "Modal button texts wrap unexpectedly"
Hi !

As I was mentionning in my last [issue](https://github.com/moayadnajd/nativescript-filter-select/issues/21), I'm having trouble with the modal buttons' texts which wrap unexpectedly => [screenshot](https://user-images.githubusercontent.com/3647132/33829835-1c944f3e-de72-11e7-8a43-a1f273845eec.png)

FYI I'm using a Samsung Galaxy A5 to test my application, at a 720 x 1280 pixels resolution wi

[2017-12-12 10:23] VChabrette commented on #22
@relvis @moayadnajd Just to say, I'm totally craving this addition ; in fact, because time is a real issue for me right now, I had to act fast and implemented a workaround myself by notifying the SelectButton of a programmatically sent tap (inside of a custom Angular directive in my case)
`(<FilterSelect>this.element).addEventListener('tap', () => selectButton.notify({ eventName: 'tap', object: se

[2017-12-12 11:07] anuragd7 commented on #18
Thanks for the prompt response @moayadnajd !

[2017-12-12 11:19] moayadnajd commented on #18
@anuragd7  i just try new installation and everything work fine with webpack i will share demo with you now

[2017-12-12 11:20] moayadnajd commented on #18
@xliank i don't know why your example not working but i try new one its working fine

[2017-12-12 11:23] moayadnajd commented on #18
@anuragd7 and @xliank  please check https://github.com/moayadnajd/nativescript-filter-select/tree/master/demo-webpack
the plugin working with webpack fine

[2017-12-12 11:23] #18 closed

[2017-12-12 11:29] #3 closed

[2017-12-12 13:04] kmuthukrishnan commented on #18
Thanks @moayadnajd .Trying it out now!

[2017-12-13 12:01] anuragd7 opened #24 "Unable to style some element attributes through css classes"
Hi
Thanks for this plugin, its very useful. I ran into some styling issues when trying it out.

In am unable to style the component using the provided css classes. These are the styles that I am not able to apply

1.  font size of the selected tags by specifying a font size in the `.filter-select-tag label` class
2. width of the delete tag button by specifying a width in the `.filter-select-tag-de

[2017-12-13 18:17] anuragd7 opened #25 "Feature Request - ability to track when search results show up empty"
Hi
I am looking for a way to allow the user to add their own item to the tag list in case there is no item that meets the search criteria. To do that I want to be able to detect the situation when there are no matching items shown for the text searched and based on that provide the user an option to create their own tag. Is there a way to be able to detect when the search results are empty?

Thank

[2017-12-15 19:17] kmuthukrishnan opened #26 "Question - Programatically pushing new values into the selected tags"
Hi @moayadnajd ,

I am using your component (thanks!) for selecting tags from a large list of tag items. I also allowing users to create their own tag items. I am trying to push these programatically into the filter-select-component. When I do this, the value of nativelement.tags is correctly getting incremented (I can console.log this), but the view does not change. Its only when I reload the UI

[2017-12-16 06:30] nikunjgajera commented on #20
@moayadnajd thank for solved issue, but can you tell me which css have you modified. i cant find it

[2017-12-21 09:09] NickB95 opened #27 "Open keyboard on "Select" click"
Is it possible to open the keyboard on both OS when Select is clicked?

I've tried focus'ing the searchBar but that doesn't seem to work.

[2017-12-21 10:19] NickB95 commented on #27
Typical, I spend hours trying to do this, ask for help, then immediately solve it myself!

I simply added a call to the focus event for the search bar in the common.ts file just under the creation of the SearchBar.

[2017-12-21 10:43] VChabrette commented on #27
Hi @NickB95,

Actually, I'm quite surprised by your issue, because, in fact, in my app, the keyboard is displayed as soon as the modal opens itself and I would like to disable this.
So, in fact, I have the total opposite of your issue haha

Maybe it would be a nice addition to give the possibilty to choose to autofocus or not ? @moayadnajd

[2017-12-21 14:10] moayadnajd commented on #26
@kmuthukrishnan
please check this playground you can use the refresh method

and i will add feature to add your tag if not exist and remote data url soon

 https://play.nativescript.org/?template=play-tsc&id=gDKleZ

[2017-12-21 14:13] moayadnajd commented on #24
please make playground like this so we can edit and see togather
https://play.nativescript.org/?template=play-tsc&id=gDKleZ

[2017-12-21 16:21] moayadnajd commented on #27
@NickB95  can you please share your code with me
@VChabrette yes maybe this can be good idea
i will try to work on that soon but as you know its hard to find free time

[2017-12-21 16:23] moayadnajd commented on #27
@VChabrette i think the keyboard open up just in android is that right ??
@NickB95 are you working in iOS or both ?

[2017-12-21 16:35] VChabrette commented on #27
@moayadnajd Haha, yeah, I know free time is hard to find, I'm having the same struggle for my personal projects
And yes, I admit I have not tested this on iOS, I'm working on an Android-only app :confused:

[2017-12-21 17:53] LorenDorez opened #28 "Typos"
There appears to be some typos for the CSS classes.

most start with "filter" but some are misspelled as "felter"

[2017-12-21 19:54] LorenDorez opened #29 "ObseraveblArray"
I am setting up a Cascading Affect.

For Example:
I have one filter-select item for type and when someone chooses a value it then runs an API call and downloads a new list of categories i update the categories on the viewModel but this never updates the 2nd filter-select until i manually update the .items property

[code]

[2017-12-22 10:47] moayadnajd commented on #28
@LorenDorez  thanks for mention this i will fix that i am not good with spelling english  sorry

[2017-12-22 10:48] moayadnajd commented on #29
@LorenDorez  can you show me an example
maybe on play.nativescript.org

[2017-12-22 11:04] kmuthukrishnan commented on #26
Hi @moayadnajd ,
Thanks, Iam trying the refresh method - it seems to be working.
Do let me know when you create the add you tag and remote data url features! Waiting for it :)

[2017-12-22 19:58] #26 closed

[2017-12-23 18:23] moayadnajd commented on #28
@LorenDorez please update to latest and  let me know if there other spelling !!

[2017-12-23 18:23] #28 closed

[2017-12-23 18:24] moayadnajd commented on #23
@VChabrette please update and let me know if it still come up

[2017-12-23 18:24] #23 closed

[2017-12-23 18:25] moayadnajd commented on #27
@VChabrette and @NickB95  please update to latest and put autofocus="false Or True" to hide or show the keyboard when modal showing

[2017-12-23 18:25] #27 closed

[2017-12-23 18:26] moayadnajd commented on #22
@VChabrette and @relvis  please use open() method please see demo folder

[2017-12-23 18:26] #22 closed

[2017-12-25 11:10] moayadnajd commented on #24
@anuragd7  please try now  i made some changes maybe now it fixed

[2017-12-25 11:11] moayadnajd commented on #29
@LorenDorez  did you try the refresh() method ??

[2017-12-26 05:27] anuragd7 commented on #24
Hi @moayadnajd
Just tried version 1.2.2 and can confirm that I am now able to apply font-size and width styles using css.
Thank you for your help.

[2017-12-26 05:27] #24 closed

[2017-12-26 15:37] LorenDorez commented on #29
@moayadnajd using the same concept from this issue #26

Look here, it doesnt work unless i reset the items array

https://play.nativescript.org/?template=play-tsc&id=gDKleZ&v=3

[2017-12-27 14:30] moayadnajd commented on #29
@LorenDorez the modal take what inside the items array when you tap on select so you can't add when the modal open but why you need to add new item when the modal open i made dependant selection previously with FilterSelect and its fine like this example below  you can add items without refresh or hard reset the items  and you can disable or hide until user make first selection
https://play.native

[2017-12-27 17:47] LorenDorez commented on #29
@moayadnajd
Sorry thats was abad example. Im not using the same Modal. Ill try to create you a sample project just dont have the free time need to look for another solution.

I basically load the Items of the second Filter based on what they choose on the first filter

[2018-01-04 16:07] VChabrette commented on #27
Hey @moayadnajd ! Sorry, I was on vacation, but I just tried it and it's working like a charm ! Thanks for this functionnality :smile:

[2018-01-04 16:08] VChabrette commented on #23
@moayadnajd It's perfect, no more wrap, thanks a lot :smile:

[2018-01-04 16:21] VChabrette commented on #22
@moayadnajd It's working perfectly ! However, it seems like you forgot to remove the `console.log('->>>>>>>>>>this.modalPage.on("loaded", function(args)');` haha

[2018-01-04 16:21] VChabrette commented on #27
@moayadnajd However, it seems like you forgot to remove the console.log('->>>>>>>>>>this.modalPage.on("loaded", function(args)'); haha

[2018-01-07 14:38] moayadnajd commented on #27
@VChabrette hahah thanks i will do that

[2018-01-10 08:36] moayadnajd commented on #29
@LorenDorez i will close this until you gave me is this a future request or its a bug and let me know what should i do

[2018-01-10 08:36] #29 closed

[2018-02-09 16:16] PeterStaev opened #30 "Binding value from control to model"
I'm recently using your plugin in an app and seems when the user changes the selection (I'm using it in `label` mode, so single select) the change is not persisted to the model. Bindings seem to be correct as the initial value is populating fine. Also if I log the plugin's `selected` property it shows the updated value.

[2018-02-09 16:18] PeterStaev opened #31 "Trigger change event on selection clear"
Would be really nice to trigger the `change` event on selection clear as now there is no way to detect if the user  cleared the selection. Or may be even better to add a separate event for this.

[2018-02-20 08:51] moayadnajd commented on #31
@PeterStaev yes maybe thats a good idea i will do it soon

[2018-02-20 08:52] moayadnajd commented on #30
@PeterStaev  can you provide example line this
https://play.nativescript.org/?template=play-tsc&id=gDKleZ&v=3

[2018-02-20 08:53] moayadnajd commented on #30
@PeterStaev sorry for delay i was in vacation

[2018-02-20 08:53] moayadnajd commented on #31
@PeterStaev and sorry for delay i was in vacation

[2018-02-20 09:17] PeterStaev commented on #30
Here is a playground example: https://play.nativescript.org/?template=play-tsc&id=gDKleZ&v=6
Select a country, then tap the button - the bound property in the model will have length of 0 while the `selected` property of the control has length 1.

[2018-02-22 16:28] moayadnajd commented on #30
@PeterStaev  i just update the plugin to fix this issue see example  and update your project  to 1.2.5

https://play.nativescript.org/?template=play-tsc&id=gDKleZ&v=7

[2018-02-22 16:28] #30 closed

[2018-02-22 16:29] moayadnajd commented on #31
@PeterStaev  i just update the plugin to fix this issue update your project  to 1.2.5

[2018-02-22 16:29] #31 closed

[2018-02-23 14:46] tylerablake opened #32 "Modal Popup overwriting styled ActionBar"
I have a blue ActionBar with white text, and when the modal pops up it overwrites the ActionBar to be white with I'm assuming white text. Any help would be appreciated! Thanks!

![image](https://user-images.githubusercontent.com/10442416/36599348-1c49e4ea-187d-11e8-9897-3738faf4600f.png)

[2018-02-23 15:12] tylerablake commented on #32
Adding this css gave these results.

![image](https://user-images.githubusercontent.com/10442416/36600938-c09470ac-1881-11e8-856b-f6b1d40b91c4.png)

![image](https://user-images.githubusercontent.com/10442416/36600928-b42dd178-1881-11e8-9df5-cf27933fcca7.png)

[2018-02-27 09:21] moayadnajd commented on #32
@tylerablake can you provide example like this https://play.nativescript.org/?template=play-tsc&id=gDKleZ&v=7
so I can edit on it

[2018-02-27 14:37] tylerablake commented on #32
@moayadnajd  Thanks for looking into this! I couldn't get that sample to run on my phone. I'll try and get something uploaded and let you take a look at it.

[2018-03-02 12:55] ejaz opened #33 "filter-select problem with scrollview"
we are facing problem with filter-select when placed in scrollview. Please have a look at the playground app below.

https://play.nativescript.org/?template=play-js&id=Sbhmtj&v=8

if we remove the scrollview tags, the filter-select works fine. see below for working demo

https://play.nativescript.org/?template=play-js&id=Sbhmtj&v=7

[2018-03-05 09:58] moayadnajd commented on #33
@ejaz are you working with android ?? because everything fine on iOS i will see on android and let you know

[2018-03-05 10:53] ejaz commented on #33
yes we are working with android

[2018-03-05 12:46] ejaz commented on #33
we have found the issue. it was in our CSS.

[2018-03-05 12:46] #33 closed

[2018-03-09 10:28] ahtishamashraf opened #34 "Clear function"
Hi , is there any function that could reset everything and show Hint when run in the Script?
I studied the Plugin and saw that Clear in the Modal can work for me , is there any way to run it by including it in Script?

[2018-03-12 11:12] moayadnajd commented on #34
@ahtishamashraf  i will add this feature for you

[2018-03-12 11:13] ahtishamashraf commented on #34
Can I know when this will be available?

[2018-03-12 11:13] moayadnajd commented on #32
@tylerablake sorry i will close this until you provide more info

[2018-03-12 11:13] #32 closed

[2018-03-12 11:14] moayadnajd commented on #34
@ahtishamashraf today working on it

[2018-03-12 11:15] ahtishamashraf commented on #34
I will be thankful to you if you release it ASAP

[2018-03-12 13:37] moayadnajd commented on #34
@ahtishamashraf please update to 1.2.6

then you can do

[code]

don't forget to star the plugin 👍 😄

[2018-03-12 13:37] #34 closed

[2018-03-12 13:38] ahtishamashraf commented on #34
Thanks a Lot Starring the Plugin

[2018-03-12 13:44] ahtishamashraf commented on #34
Hi , One More issue I need to ask , I have 2 Filter Select Dropdown in my Page and I want to check if there are 2 options selected and need to decide the 2nd Dropdown based on the First one , if 1st one has 2 Options the render will change to drop and if 1 option is selected render will be tag.
I used viewModal.set("render","tag") if there is 1 option and  viewModal.set("render","drop") if 2 optio

[2018-03-12 14:22] moayadnajd commented on #34
you  have to see the refresh() function after you change things just use refresh function and if it not working please make example like this one https://play.nativescript.org/?template=play-tsc&id=gDKleZ&v=3
and open new issue thanks

[2018-03-13 05:46] ahtishamashraf commented on #34
Hi , It would be helpful if you provide me a playground where you have implemented this code
` let myFilterSelectToClear = <any>this.page.getViewById('myFilterSelectToClear');
    myFilterSelectToClear.Clear();`

[2018-03-13 08:12] moayadnajd commented on #34
@ahtishamashraf you can see in the demo how i made this working and you can see the clear button

[2018-03-13 09:08] ahtishamashraf commented on #34
I have created the app in js , so if I get the relative js code it would be helpful

[2018-03-19 09:00] bachras opened #35 "Cannot set selected value"
Hi,

thank you for brilliant plugin, everthing works as expected, but I am strugling to set previously selected value. I followed examples but I am keep getting this error:

[code]

I created playground example to replicate the problem:  https://play.nativescript.org/?template=play-ng&id=lx6dNk&v=3

Maybe I missed something. Any help/advice is appreciated. Thank you

[2018-03-19 14:10] moayadnajd commented on #35
@bachras thanks for using my plugin
about the issue you made i think you mixed the binding with the vanilla way you can see below i made some changes
https://play.nativescript.org/?template=play-ng&id=lx6dNk&v=6

the right way of binding is this

[code]

but you was doing it with {{ }} and this way is not working with angular

[code]

thanks and don't forget to start the plugin 👍 😃

[2018-03-19 14:10] #35 closed

[2018-04-10 15:00] tylerablake opened #36 "Updating/overwrite Selections"
Hi,

Firstly, thank you for all the work you have put into it and your other plugins by the way!

I am using the filter select and after selecting an item I try to select a different item, the box lights up like I'm clicking on an item from the listview but it doesn't overwrite my previous selection, is there something I am missing perhaps? My (change) function is only firing on the initial set bu

[2018-04-10 16:59] tylerablake commented on #36
I was missing the id property on my dataset I was using in the filter select, I added that and it resolved my issue.

Thanks!

[2018-04-10 16:59] #36 closed

[2018-04-18 07:28] bachras opened #37 "The specified child already has a parent (Android)"
Hi,

Thanks again for brilliant plugin. Sometimes I get the error below after tapping on filterselect. Here is my code below. Do you have any ideas what could be wrong? Thanks

[code]
[code]

[2018-04-24 22:29] leocrawf opened #38 "How to have different css styles for different filters"
Thank you for this excellent plugin. All works well except for one issue. My filters do not all have the same background color so the selected color could be black in once css declaration and white in the other. The specific property I am looking to change is this:

    .filter-select-label.selected{
      color:black;
    }

How could I change this property for different filters?

[2018-04-25 08:09] moayadnajd commented on #38
make example on https://play.nativescript.org/

[2018-04-25 08:10] moayadnajd commented on #37
hi can you make a example on https://play.nativescript.org/  so i can check if faster sorry for the delay

[2018-04-26 20:37] leocrawf opened #39 "Is there a way to access the close modal event?"
Is there a way to access the close button event?

[2018-04-26 21:49] leocrawf commented on #38
This is easily fixed using page level css.

[2018-04-26 21:49] #38 closed

[2018-04-30 09:16] moayadnajd commented on #39
@leocrawf for now no but i will do it soon for you

[2018-04-30 09:16] moayadnajd commented on #25
@anuragd7  are you still interested in this ?

[2018-04-30 09:26] anuragd7 commented on #25
Yes! Absolutely.  Would be great to be able to get this.
Thanks for a great plugin.

On Mon, 30 Apr 2018, 14:47 Moayad Al-Najdawi, <notifications@github.com>
wrote:

[2018-04-30 10:09] moayadnajd commented on #39
@leocrawf i just updated the plugin to v 1.2.7 and your issue is solved there

you can do like  below

in view model
[code]

in xml

`<FS:FilterSelect close="{{ closeModal }}"  />`

see demo for running example and don't forget to star the plugin 😄 ⭐️

[2018-04-30 10:09] #39 closed

[2018-04-30 10:12] moayadnajd commented on #37
@bachras did you solve this ? please let me know

[2018-04-30 12:00] leocrawf commented on #39
Thank you.

[2018-05-02 09:04] OPADA-Eng opened #40 "Plugin is not compatible with {N} v4"
Hi @moayadnajd
This plugin showing an Error after updating to v4.0.1 of nativescript
This is the error message:

file:///app/tns_modules/tns-core-modules/ui/builder/builder.js:238:56: JS ERROR Error: Building UI from XML. @file:///app/main-page.xml:12:6

tns runtime :
[code]
tns core modules:
[code]
any solution for that ?
Thanks.

[2018-05-02 15:08] leocrawf commented on #37
I am using NS core, so no angular here. However, I have had similar issues when I have an unreferenced function attached to an event listener on the FilterSelect XML. For example, if there is
    <FilterSelect
    selected="someFunction"
    .......
and someFunction does not exist, I would get that exception. Hopefully, this info can point you in the right direction.

[2018-05-02 22:44] muthukumaroptisol opened #41 "not working in angular 5 version."
My version is below

"dependencies": {
        "@angular/animations": "^5.2.0",
        "@angular/common": "^5.2.0",
        "@angular/compiler": "^5.2.0",
        "@angular/core": "^5.2.0",
        "@angular/forms": "^5.2.0",
        "@angular/http": "^5.2.0",
        "@angular/platform-browser": "^5.2.0",
        "@angular/platform-browser-dynamic": "^5.2.0",
        "@angular/router": "^5.2.0",

[2018-05-08 11:27] moayadnajd commented on #40
@OPADA-Eng  please update to latest

see this example https://play.nativescript.org/?template=play-tsc&id=ofch6A&v=9

[2018-05-08 11:27] #40 closed

[2018-05-08 11:56] moayadnajd commented on #41
@muthukumaroptisol  please update to latest and use this syntax in register

[code]

please don't forget  to let me know if there anything else and star the plugin ⭐️

[2018-05-08 11:56] #41 closed

[2018-05-08 11:57] moayadnajd commented on #41
see this example with angular 5
https://play.nativescript.org/?template=play-ng&id=m8AkhL&v=8

[2018-05-08 12:01] moayadnajd commented on #37
@leocrawf so you have this issue also ?? @bachras i can't reproduce it can you help

[2018-05-08 13:14] OPADA-Eng commented on #40
Thanks Man!

[2018-05-15 18:29] bachras opened #43 "Angular with webpack"
Hi,

Thanks again for brilliant plugin. I saw the issue which you have solved for VanillaJS in https://github.com/moayadnajd/nativescript-filter-select/issues/18. Could you please provide working example with Angular as well? Thanks in advance

Here is the error I am currently having:
[code]

[2018-05-16 07:06] bachras commented on #18
@xliank Did you manage to solve the issue on Angular as example @moayadnajd provided non-Angular  solution. Do you have any suggestions? This is the only thing stopping me from publishing the app...

[2018-05-16 07:44] bachras commented on #18
@anuragd7 Thanks for prompt reply. I am having same issue as @xliank had, I also opened an issue https://github.com/moayadnajd/nativescript-filter-select/issues/43 . Did you make any changes to webpack configuration? If so, could you share config file or code snippet where you made changes? Thank you very much.

[2018-05-16 07:51] anuragd7 commented on #43
@bachras - I was able to get ti to wrk by including the following in the component ts file.

[code]

[2018-05-16 07:53] anuragd7 commented on #18
Have posted my response in  #43
<https://github.com/moayadnajd/nativescript-filter-select/issues/43> .
Hope it works for you

On Wed, May 16, 2018 at 1:14 PM, bachras <notifications@github.com> wrote:

[2018-05-16 08:05] bachras commented on #43
@anuragd7 Thank you very much. It worked like a charm. You are a life saver!

[2018-05-16 08:05] #43 closed

[2018-05-16 10:01] xliank commented on #18
@bachras no, i consider Angular with Nativescript is too much for me & too many breaking changes in Nativescript.

 So i’m moving to React Native.

Even at first it was hard, but it’s worth it. more freedom, close to vanilla js,es6, faster bootup speed, image cache out of box, redux even great.

[2018-05-20 07:49] pedromorgan commented on #25
Anyone working on this ?

[2018-06-11 08:29] PeterStaev opened #45 "Add enabled property"
Add handling for `enabled` property that will allow to disable widget if needed.

[2018-06-12 15:10] tylerablake opened #46 "Center Filter Select Text"
Can you add a way to move the filter select label and selected values left, center, or right align? Or is there already a way to do this that I am missing? Thanks!

![image](https://user-images.githubusercontent.com/10442416/41299296-22a05338-6e31-11e8-97e9-f242fca70a10.png)

[2018-06-25 11:39] #37 closed

[2018-06-25 11:40] moayadnajd commented on #45
sorry for delay

I can't understand what you try to say

[2018-06-25 11:42] moayadnajd commented on #46
@tylerablake  sorry for the delay

Did you try to overwride  the  styles.css ??

[2018-06-25 15:47] PeterStaev commented on #45
The idea is to have some way to disable the control, so that when the user taps on it nothing happens.

[2018-06-25 21:31] edrick27 opened #48 "Problem with NativeScript 4.1.1"
I am use NativeScript 4.1.1 with angular 5 and when  I open a view console show follow error :

 "originalStack": "Error: Uncaught (in promise): TypeError: Could not load view for: FilterSelect.TypeError: Cannot set property modal of [object Object] which has only a getter\nTypeError: Could not load view for: FilterSelect.TypeError: Cannot set property modal of [object Object] which has only a get

[2018-09-01 12:41] OPADA-Eng commented on #45
there is an option called: "disabled" see ReadMe.md for more details

[2018-09-06 17:37] leosilvestre7 opened #49 "Problem with clear filter select"
not function the function clear when delete selected options

[2018-09-21 08:47] PeterStaev commented on #45
First of all sorry for the delayed response, but I just had time to try this and indeed the `disabled` property works as expected 😅 Should have read the manual more thoroughly! Thanks @OPADA-Eng !

[2018-09-21 08:47] #45 closed

[2018-09-22 08:29] coderscoven opened #50 "Problem when render is set to drop and multiple false"
As the title suggests, when i select an item and realize that it is the wrong one, i can not select another item to over write the wrong one. It requires me to first clear the wrong one and then select again.

[2018-09-26 11:15] moayadnajd commented on #50
@coderscoven  you suggest that you can tap again to select another one ?

[2018-09-26 11:15] moayadnajd commented on #49
@leosilvestre7 please explain more details i didn't understand the problem here

[2018-10-02 22:29] leosilvestre7 commented on #49
I want to update the filter with data already pre-selected but not updated

COMPONENT
  this.personService.getPerson(this.person.id).subscribe(
         dataPerson => {
                this.person.userAcademicGrades = dataPerson['userAcademicGrades'];
                const academic_grades = this.returnAcademicGrades(this.person);
                this.gradesSelected = (academic_grades.length > 0) ?

[2018-10-06 08:43] coderscoven commented on #50
No problem, i will just use it like that. Thanks

[2018-10-08 10:25] delanick opened #51 "Render label or drop hides all elements underneath Filter Select"
Hi @moayadnajd

This is an awesome plugin, thank you!! :) Been looking for this for a long time!

One issue: When I render tags, the page content underneath the Filter Select displays normal, but when rendering label or drop, all page content underneath it disappears. Please look into this as I would like to use label render, but still have stuff under that on my page.

[2018-10-15 10:34] weijyewang opened #52 "Change filter dialog background color"
Hi, thanks for the nice library. In my app.css I style my `Page `to have `color: #fff `and `background: black`:

[code]
This resulting in the font become white color but the background is also white as well when the filter dialog came up
![image](https://user-images.githubusercontent.com/8890603/46945969-dca9d180-d0a8-11e8-81df-d671c726fe4a.png)

How do I change the modal background to be black?

[2018-10-17 17:50] tylerablake opened #53 "Programatically set 'selected' when 'multiple' = false"
Hi,

I've tried setting the 'selected' property but doesn't work for me. Selected takes in an array of values, and since my filter select has `multiple="false"`. I tried setting an array with just the selected item then  setting the `filterSelect.selected` property but it isn't updating the label on the UI..

`var selectedItem = new Array<PartyFilterSelectItem>();`

`selectedItem.push(new PartyFil

[2018-10-23 11:43] moayadnajd commented on #53
@tylerablake can you make example here https://play.nativescript.org so i can help you faster

[2018-10-23 11:46] moayadnajd commented on #52
@weijyewang can you make example https://play.nativescript.org so i can help you faster

[2018-10-23 11:47] moayadnajd commented on #51
@delanick  can you make example https://play.nativescript.org so i can help you faster

[2018-10-23 11:48] #50 closed

[2018-10-23 11:50] moayadnajd commented on #49
@leosilvestre7 sorry i am busy .. did you solve it ?

[2018-10-23 18:28] delanick commented on #51
@moayadnajd funny enough, now it works perfectly and I can't reproduce the problem, even though it initially happened on Playground as well as on my app. I will try a rebuild of the app with the other properties and see if it happens again and then will copy that code for you.

I have however just come across another problem I wanted to log too. It also happens on my app, as well as the Playground

[2018-10-25 08:14] moayadnajd commented on #51
@delanick that's a disaster every time NativeScript updated i have to make a lot of changes in the code what version of NativeScript you have ? there is no fast way to fix that and i am busy now maybe you can check older versions of NativeScript!

[2018-10-25 11:02] peppeg85 opened #54 "modal page styling"
hi, thanks for this useful llibrary, i'm not able to style the items list, i've imported the style css file inside the main page and it works for the filter  elements, but i can not style the modal list, i studied the js common file, i've seen that the elements have an "item"  class, but i can not access to this by .item inside the css file. any suggestion? thank you

[2018-10-26 12:00] weijyewang commented on #52
I'm switching to use https://github.com/davecoffin/nativescript-filterable-listpicker as it allows me to style everything nicely. Closing this issue.

[2018-10-26 12:00] #52 closed

[2018-10-28 08:55] moayadnajd commented on #51
@delanick actually I am trying to do something like you ask but i couldn't #5 thats need a lot of time or maybe a good nativeScript experiance

[2018-10-28 22:00] delanick commented on #51
@moayadnajd Awesome! Would love to see what you come up with :)

[2018-10-31 09:16] peppeg85 opened #55 "github version is not the same of npm"
hello....the github committed version si not the 1.2.9 but 1.2.8....i tried to fork it but is not the same of the npm plugin

[2018-11-14 12:28] OPADA-Eng opened #56 "Ability to disable clear button to force selection"
Hi @moayadnajd.
Could you please add the option to allow disabling "clear" button so the plugin could be useful for force selection.

Thanks.

[2018-11-27 06:54] OPADA-Eng opened #57 "Plugin is not compatible with {N} v5.0.0"
The plugin is not working well with nativescript v5 when you select an item and then try to select another one you can't, the select after that freeze and all the items disappear.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/2197864/49064002-09ade000-f222-11e8-9ec1-7f166bdd91f0.gif)

[2018-11-27 06:58] OPADA-Eng commented on #57
[code]

[2018-11-29 17:36] moayadnajd commented on #57
@OPADA-Eng I need to revamp the plugin and i don't have the time i may do that first quarter of 2019

[2018-12-01 11:33] OPADA-Eng commented on #57
@moayadnajd
Thanks,But it's buggy!
Is there any work around we can do until that ?

[2019-01-08 10:31] simonettoa commented on #57
hi @OPADA-Eng, did you make it works? workaround or something?

cheers

[2019-01-08 13:57] Cheaterflums commented on #57
@OPADA-Eng @simonettoa I made some tests and found out that it isn't NativeScript itself that causes this issue, its "tns-core-modules". I downgraded it to version 4.2.1, but stayed at version 5.0.0 for "tns-ios" and "nativescript" and now it is working as expected.

Hope this help you guys too.

[2019-01-08 15:38] simonettoa commented on #57
thanks @Cheaterflums, I'll try!

[2019-01-13 10:04] OPADA-Eng commented on #57
@Cheaterflums I can't downgrade the hole app to {N} v4 I got a lot of errors.
the nearby solution is to find the piece of code that cause the problem and fix it.

[2019-01-14 07:39] Cheaterflums commented on #57
@OPADA-Eng as said, you dont need to downgrade the hole app to v4. its just the tns-core-modules version that needs to be changed.

[2019-01-14 07:55] OPADA-Eng commented on #57
I said I tried that, it made me issues in other plugins.

On Mon, Jan 14, 2019, 9:39 AM Cheaterflums <notifications@github.com wrote:

[2019-02-11 16:04] suisseworks commented on #57
I have the same issue, need to use tns-core version 5, but tns-select-filter get problems.

[2019-03-05 16:44] tylerablake commented on #57
@moayadnajd Any update on this? If you don't have time or haven't started I can try to work on a PR if you need. Thanks!

[2019-03-12 10:09] moayadnajd commented on #57
@tylerablake That's will be nice because I don't have time to work on this. I wish I had extra time

[2019-05-29 14:46] fabioaraujo121 opened #58 "Support Nativescript-Vue??"
I've addedd the plugin but I can't register to use it with Nativescript-Vue. Does this lib supports it? Anybody knows any similar lib if it doesn't support?

[2019-06-06 18:37] gabrielsmelo commented on #58
Yes, despite developer needs to discover by itself how to use all the functionalities. I'm using it myself.

Vue is just a Wrapper around NativeScript Core. Said that, be sure that you can use all the plugins available in NS Market.

Probably to make it work, just add this line to your **app.js** file:

`Vue.registerElement("FilterSelect", () => require("nativescript-filter-select").FilterSelect);

[2019-06-12 18:32] #58 closed

[2019-06-19 07:26] dudipsh commented on #38
@leocrawf how?
i try

[code]

[code]

the color didn't changed

[2019-06-19 08:13] tahir-jamil commented on #57
Hi @moayadnajd is this fixed for NS 5?

[2019-06-19 12:28] tylerablake commented on #57
@tahir-jamil I haven't had time to look into it yet, so I don't think so :(

[2019-06-20 09:57] moayadnajd commented on #57
Hi i merged a pull request by @keerl  to fix NS 5 problem i didn't test it but i publish it anyway so please if you can check and let @keerl knows if there something wrong

[2019-06-20 09:58] moayadnajd commented on #55
now plugin is 1.3.0

[2019-06-20 09:58] #55 closed

[2019-06-29 12:03] OPADA-Eng commented on #57
@moayadnajd This PR didn't fix the issue totally, there is problem on reselect the element.

[2019-06-29 13:37] keerl commented on #57
What is the problem? The reselect problem was fixed for me.

[2019-06-30 09:04] dudipsh opened #60 "Can't change hint text"
Hi,
How to change the "hint" color?
is always white!

I've try everything
[code]

[2019-06-30 15:42] #60 closed

[2019-07-10 14:08] moayadnajd commented on #57
@keerl did you test in IOS and Android ?

@OPADA-Eng Please put more details so @keerl can help

@keerl thanks for your support here

[2019-07-29 08:29] #57 closed

[2019-11-20 06:06] adeepak7494 opened #61 "Unable to clear previously selected items after closing the modal without any selection"
Hi,
     Could you please clear the selected items when I close the modal without any selection as the close event returns an empty array.

Thanks.

[2019-11-20 06:16] #61 closed

[2019-12-18 07:26] adeepak7494 opened #62 "Unable to add scroll property for selected items"
Hi I am unable to control overflowing items by scrolling. The more the items I kept on adding the height keeps on increasing and it's disturbing the scroll of parent view .

[2020-05-13 09:10] svkmedia opened #63 "Vue change event passing selected value"
How can I call change event and pass there selected option?
I'm trying like this but it's not working...

`@change="countryChange($event)"`

[2020-06-04 09:20] Woongsik commented on #63
Try
@change="(args) => countryChange(args)"

[2020-07-15 07:43] sudhakarmapol commented on #35
Thanks for your solution. But while am trying to set the value from the constructor or the NgOninit. the value cannot be bind. please help to resolve this issue. Also how to set a value pro-grammatically in angular.

https://play.nativescript.org/?template=play-ng&id=L1ulE5&v=2

[2020-07-15 07:44] sudhakarmapol opened #64 "cannot set selected value from app service in angular"
Thanks for your solution. But while am trying to set the value from the constructor or the NgOninit. the value cannot be bind. please help to resolve this issue. Also how to set a value pro-grammatically in angular.

https://play.nativescript.org/?template=play-ng&id=L1ulE5&v=2

[2020-07-15 09:35] sudhakarmapol opened #65 "Programmatically open the filter modal in Angular"
i need to open the filter modal on click the button in angular. please help me to make it

[2020-07-24 07:41] sudhakarmapol opened #66 "Programmaticaaly Open the modal and get selected value"
Please help to me open the Filterselect Modal programmatically and get the value selected.

[2020-08-11 20:13] giulianimartini opened #67 "Change the 'x' button style"
Hi,

someone can help me with this little issue?
I can't figure it out which CSS class handles the 'x' button of the selected item.

I know the `.filter-select-tag-delete` is handling the 'x' tag, but how can I remove the button style? I don't want the shadow or border around the 'x'.
The same occurs with the buttons 'Close' and 'Clear' inside the list picker.

Besides that, the alignment of '3aXm

[2020-08-26 15:51] giulianimartini commented on #16
Hi @moayadnajd,

is it possible to use fonticon at the `btn-filter-select` (`selectText` property)?
I was wondering to use an icon like search from fontawesome.

And how about change the style of `clearText` and `closeText`? On Android they have shadow and border that I want to remove, but I can't.

Thanks

[2020-08-26 16:21] giulianimartini commented on #16
I achieved the first issue about the `selectText` icon, but I'm still stucked with the `clearText` and `closeText` issue.

Can someone help me?

Thanks in advance.

[2020-10-06 19:33] mathiasgmz opened #68 "nativescript-filter-select not working in angular 10"
Hello everyone, can you help me please? I have migrated my project to angular 10, and I have an error with the filter-select

***** Fatal JavaScript exception - application has been terminated. *****
NativeScript encountered a fatal error: Uncaught TypeError: layout_base_1.CSSType is not a function
at
(file: node_modules/nativescript-filter-select/filter-select.common.js:663:0)
at ../node_modules/

[2020-10-27 13:58] tomtastico opened #69 "NS7 compatibility"
Any chance of getting this plug-in updated for NS7?

[2020-11-06 01:13] ebizcoAU commented on #69
It is a good plug-in. Unfortunately there is no support for NS7 for now. I am having the same problem.

[2020-12-22 00:23] codealvarez commented on #69
Same problem here. @ebizcoAU @tomtastico have you check some similar plugin?

[2021-02-15 22:55] comporell commented on #68
any news on this? got the same error

[2021-02-15 22:56] comporell commented on #69
this plugin is a must have. I hope someone will port it to ns7

[2021-02-23 07:46] OPADA-Eng commented on #69
An updated version is now available [here](https://github.com/OPADA-Eng/ticnat-ns-plugins/tree/master/packages/nativescript-searchable-select)

[2021-02-23 08:48] comporell commented on #69
hello, the link does not work, could you check it?

[2021-02-23 08:54] OPADA-Eng commented on #69
Sorry I didn't notice that the repo was private, try now.

[2021-02-23 08:55] comporell commented on #69
thanks mate, I'll test it tonight

[2021-03-02 18:22] comporell commented on #69
Its working fine! Good job mate :)

[2021-06-02 09:00] moayadnajd commented on #69
@OPADA-Eng i updated the Readme and mentioned your repo

[2021-06-02 09:03] moayadnajd commented on #68
@OPADA-Eng is this solved in your branch ?

[2021-06-07 13:00] OPADA-Eng commented on #68
@moayadnajd
I haven't tested it on angular, Can you give a hand with that?

[2021-08-11 04:41] Ezenwankwo opened #70 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/nativescript-filter-select) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`